// .top-header {
//   position: fixed; 
//   top: 0; 
//   left: 0;
//   width: 100%; 
//   z-index: 1000;

 
// }


.mbview {
display: none;

}
.ddview{
margin-top: 15px;
border: 1px solid white;
border-radius: 100px;
padding: 5px 30px;
box-shadow: 2px 2px 2px 2px #e2d0bc;
}
.nums{
text-decoration: none;
color:white; 
}
.menu-links-group {
display: flex;
align-items: center;
gap: 10px; /* You can adjust this value to control the gap */
}

.menu-links-group a {
text-decoration: none;
color: #fff;
font-size: 17px;
font-family: 'Neue Plak Condensed Regular', sans-serif;
display: flex; /* Ensure anchor tag behaves like a flex container */
align-items: center; /* Vertically align the icon and text */
}

.menu-links-group a i {
margin-right: 8px; 
}


.bb-navbar {
display: flex;
justify-content: end;
align-items: end;
text-align: end;
padding: 20px 20px;
// background-color: #fff;

}

.main-header .logo img {
  height: 65px;
  // margin-left: 85px;
}


.bb-navbar .nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

.bb-navbar .nav ul li {
margin: 0 15px;
}

.bb-navbar .nav ul li a {
text-decoration: none;
color:  #f3820c;
font-weight: bold;
font-size: 20px;
margin-top: 10px;
font-family: 'Neue Plak Condensed Regular', sans-serif;

}

.bb-navbar .header-icons a {
text-decoration: none;
color: #000;
margin-left: 15px;
font-size: 14px;
display: flex;
align-items: center;
font-family: 'Neue Plak Condensed Regular', sans-serif;
}

.bb-navbar .header-icons a i {
margin-right: 5px;
}








// // .top-bar {
// //   background-color: #ffc78a;
// //   border-bottom: 1px solid #ddd;
// //   font-size: 14px;
// // }

// // .phone-number {
// //   font-weight: bold;
// //   color: #333;
// // }

// // .social-icon {
// //   margin-left: 10px;
// //   text-decoration: none;
// // }

// // .icon {
// //   width: 20px;
// //   height: 20px;
// // }








// .common-center-align {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: 10px;
// }

// .header-design {
//   margin-top: 10px;
//   margin-left: 100px;
//   font-family: "DM Serif Display", serif;
//   font-weight: 600;
// }

// .heal {
//   margin-top: -100px;
// }

// /* General Reset */
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .logo {
//   height: 105px;
//   width: 196px;
// }

// .get {
//   color: white;
//   background-color: blue;
//   border-radius: 30px;
//   height: 40px;
//   width: 150px;
//   border: none;
// }

// .dropdown {
//   background-color: transparent;
//   color: #f3820c;
//   border: none;
//   padding: 10px;
//   cursor: pointer;
//   text-decoration: none;
//   font-family: "DM Serif Display", serif;
//   font-weight: 500;
//   font-size: 19px;
// }

// .dropdown:hover {
//   color: #bf8df0;
// }

// @media only screen and (min-width: 1200px) {
//   .desktop-hide {
//     display: none;
//   }
//   .side-menu-bar {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     height: 100px;
//     margin-top: 11px;
//   }
//   .logo {
//     height: 105px;
//     width: 196px;
//   }
// }

// @media only screen and (min-width: 600px) and (max-width: 1200px) {
//   .mobile-hide {
//     display: none;
//   }
//   .side-menu-bar {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     height: 77px;
//     margin-top: 11px;
//   }
//   .logo {
//     height: 77px;
//     width: 200px;
//     font-family: "DM Serif Display", serif;
//   }
//   .menu-bar-align {
//     height: 40px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//   }
//   .menu-bar {
//     width: 35px;
//     border-color: #cbcaca;
//     border-bottom-width: 3px;
//     border-style: solid;
//   }
//   .offcanvas-title {
//     font-family: "DM Serif Display", serif;
//     color: #f3820c;
//     font-size: medium;
//   }
//   .menu-item {
//     color: #bf8df0;
//     font-weight: bold;
//     text-decoration: none;
//   }
// }

// @media only screen and (max-width: 600px) {
//   .mobile-hide {
//     display: none;
//   }
//   .side-menu-bar {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     height: 60px;
//     margin-top: 7px;
//   }
//   .logo {
//     height: 60px;
//     width: 150px;
//   }
//   .menu-bar-align {
//     height: 30px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-around;
//     margin-right: 5px;
//   }
//   .menu-bar {
//     width: 30px;
//     border-color: #f3820c;
//     border-bottom-width: 1.5px;
//     border-style: solid;
//   }
//   .offcanvas-title {
//     font-family: "DM Serif Display", serif;
//     color: #f3820c;
//   }
//   .menu-item {
//     color: #bf8df0;
//     font-weight: bold;
//     text-decoration: none;
//   }
// }
