<!-- <div class="container-fluid top-bar py-2">
  <div class="row align-items-center">
    <div class="col-6 text-start">
      <span class="phone-number">📞 +123 456 7890</span>
    </div>
    <div class="col-6 text-end">
      <a href="https://facebook.com" class="social-icon" target="_blank">
        <img src="facebook-icon.png" alt="Facebook" class="icon">
      </a>
      <a href="https://twitter.com" class="social-icon" target="_blank">
        <img src="twitter-icon.png" alt="Twitter" class="icon">
      </a>
      <a href="https://instagram.com" class="social-icon" target="_blank">
        <img src="ins.svg" alt="Instagram" class="icon">
      </a>
    </div>
  </div>
</div> -->

<div class="container header-design">
  <div class="row">    
    <div class="col-3"> 
      <img src="logo1.png" class="logo" alt="Logo">
    </div>
    <div class="col-9">
      <div class="mobile-hide">
        <div class="side-menu-bar mobile-hide">
          <div class="dropdown1">
            <button class="dropdown">Product Showcase</button>
          </div>
          <div class="contact button">
            <a href="#why-us" class="dropdown">Why Us</a>
          </div>
          <div class="dropdown1">
            <a href="#how-it-works" class="dropdown">How It Works</a>
          </div>
          <div class="dropdown1">
            <a href="#who-its-for" class="dropdown">Who It's For</a>
          </div>
          <div class="dropdown1">
            <a href="#testimonials" class="dropdown">Testimonials</a>
          </div>
          <div class="contact button">
            <a href="#contact-us" class="dropdown">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="desktop-hide"></div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" id="demo">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p data-bs-dismiss="offcanvas"><a href="#why-us" class="menu-item">Why Us</a></p>
    <p data-bs-dismiss="offcanvas"><a href="#how-it-works" class="menu-item">How It Works</a></p>
    <p data-bs-dismiss="offcanvas"><a href="#who-its-for" class="menu-item">Who It's For</a></p>
    <p data-bs-dismiss="offcanvas"><a href="#testimonials" class="menu-item">Testimonials</a></p>
    <p data-bs-dismiss="offcanvas"><a href="#contact-us" class="menu-item">Contact Us</a></p>
  </div>
</div>
