<footer data-aos="zoom-in-down">
  

  <div class="footer-container">
    
    <div class="footer-column about">
     
      <h3>About</h3>
      <p>Simplify ordering, improve customer service, and boost sales with simplicity.Experience smooth transactions and fun shopping.</p>
       <div class="footer-logo">
        <img src="logo1.png" alt="Company Logo" class="logo">
      </div>
    </div>

    
    <div class="footer-column">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Why Us</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Our Partners</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>
    </div>

   
    <div class="footer-column">
      <h3>Get In Touch</h3>
      <p><i class="fas fa-phone-alt"></i> <a class="nums" href="tel:+916379981909">+91 6379981909</a></p>
      <p><i class="fas fa-phone-alt"></i> <a class="nums" href="tel:+914565234505">+91 4565-234505</a></p>
      
<p><i class="fas fa-envelope"></i> <a class="nums" href="mailto:admin@sigma4solutions.com"> admin&copy;sigma4solutions.com</a></p>



      <p><i class="fas fa-map-marker-alt"></i> Plot No 11/2, Railway Arch Road, Kannadasan Nagar 6th Street, Karaikudi-630003, Tamil Nadu, India.</p>
  
      <div class="social-media-icons">
        <a href="https://www.facebook.com/letsifysigma4solutions" class="social-icon" target="_blank">
            <img src="fac.png" alt="Facebook">
        </a>
        <a href="https://wa.me/6379981909" class="social-icon" target="_blank">
          <img src="wha.png" alt="WhatsApp">
      </a>
      
        <a href="https://www.instagram.comsigma4solutions/" class="social-icon" target="_blank">
            <img src="in.png" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" class="social-icon" target="_blank">
          <img src="you.png" alt="YouTube">
      </a>
      
    </div>
    
    </div>
  </div>
  <div>
  <div class="text-center">© Copyright 2025 -  <a href="https://evecaliber.com//" class="copyright" target="_blank">Evecaliber Private Limited</a> & Butterbiscuits - All rights reserved</div>
  </div>
</footer>