



  <!-- <div *ngIf="orderTitle == 'notify'"> -->
    <div class="left-section">
        
        <div class="notification">
            <span class="status-label status-blue">New order received</span>
            <img src="https://via.placeholder.com/60/000000/FFFFFF?text=A" alt="User 1">
        </div>

        
        <div class="notification">
            <span class="status-label status-green">Paid and confirmed</span>
            <img src="https://via.placeholder.com/60/FF5733/FFFFFF?text=B" alt="User 2">
            <span class="icon">💰</span>
        </div>

        
        <div class="notification">
            <span class="status-label status-green">Order fulfilled!</span>
            <img src="https://via.placeholder.com/60/008080/FFFFFF?text=C" alt="User 3">
            <span class="icon">🚚</span>
        </div>
    </div>
<!-- </div> -->