
  <div class="section5">
    <p class="sub" >WHO IS IT SUITABLE FOR </p>
    <div class="container">
    <div class="row  smp-top">
      <div class="col-md-6 mobile-view-hide" >
          <div class="smp-align">
              <div class="smp-square" data-aos="fade-down-right" ></div>
              <img  class="smp-picture" src="buss.jpg"/>
          </div>
    </div>

      <div class="col-md-6">
        <p class="sub1" >Retailers & Wholesalers</p>
        <p class="thi1">Present your products with a sleek, professional look to attract customers and boost sales. 
          Manage inventory effortlessly, expand globally, and use analytics to refine your strategies.
           Build trust with transparent reviews and secure transactions for sustained growth.</p>
      </div>
      <div class="col-md-6 desktop-view-hide" >
            <div class="smp-align">
                <div class="smp-square" ></div>
                <img  class="smp-picture" src="buss.jpg"/>
            </div>
      </div>

    </div>
    
    <div class="row  smp-top">
     
      <div class="col-md-6">
        <p class="sub1" >Small Business Owners</p>
        <p class="thi1" >Expand your reach and grow your brand with a flexible platform that showcases your products to a wider audience.
           Use real-time updates, powerful marketing tools, and analytics to drive sales and refine your strategy.
           Build strong customer relationships with exceptional service, ensuring long-term success</p>
      </div>
      <div class="col-md-6" >
          <div class="smp-align">
              <div class="smp-square1"data-aos="fade-down-right" ></div>
              <img  class="smp-picture1"  src="cus.png"/>
          </div>
      </div>
    </div>
    
    
    
    <div class="row smp-top">
      <div class="col-md-6 mobile-view-hide" >
          <div class="smp-align">
              <div class="smp-square" data-aos="fade-down-right"></div>
              <img  class="smp-picture" src="shop.jpg"/>
          </div>
    
      
      </div>
      <div class="col-md-6">
        <p class="sub1">Online Shoppers</p>
        <p class="thi1"> Enjoy a seamless shopping experience with a wide range of top-rated products and trusted sellers.
           Benefit from detailed descriptions, secure payments, and personalized recommendations for smarter shopping.
           Fast shipping, reliable customer service, and hassle-free returns ensure your complete satisfaction.</p>
      </div>
   
      <div class="col-md-6 desktop-view-hide" >
      
          <div class="smp-align">
              <div class="smp-square" ></div>
              <img  class="smp-picture" src="service1.jpg"/>
          </div>
    
      
    </div>
</div>
    
    </div>
    </div>
 
