<div class="accordion-container">
  <div id="accordion">
    <p class="acc-title">FREQUENTLY ASKED QUESTIONS</p>
    <div class="fl">
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne"
        >
          <i class="fas fa-chevron-right"></i> What is Show My Product 
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-bs-parent="#accordion" >
        <div class="card-body">
         SMP is a hyperlocal delivery and product discovery platform that connects local sellers with nearby customers. We offer a reliable and affordable delivery service to help small businesses thrive while giving customers easy access to local products.
        </div>
      </div>
    </div>
  </div>


  <div class="fl">
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo" 
       >
          <i class="fas fa-chevron-right"></i> How does SMP’s delivery model work?
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
         Our platform operates through a smart franchise-based delivery network. When a customer places an order, the local seller confirms it, and our delivery team picks it up and delivers it—usually within minutes.
        </div>
      </div>
    </div>
  </div>
  <div class="fl">
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree" 
        >
          <i class="fas fa-chevron-right"></i> How do I track my order?
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-bs-parent="#accordion" 
     >
        <div class="card-body">
         You can track your order in real time through our app. From confirmation to delivery, you’ll receive live updates at every step.
        </div>
      </div>
    </div>
  </div>


    <div class="fl">
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive" 
       >
          <i class="fas fa-chevron-right"></i>  How does SMP’s delivery model work?
        </a>
      </div>
      <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
        Our platform operates through a smart franchise-based delivery network. When a customer places an order, the local seller confirms it, and our delivery team picks it up and delivers it—usually within minutes.
        </div>
      </div>
    </div>
  </div>
      <div class="fl">
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive" 
       >
          <i class="fas fa-chevron-right"></i>  Is there a minimum order value?
        </a>
      </div>
      <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
        No, there is no minimum order value. You can shop for exactly what you need, even if it’s just one item.


        </div>
      </div>
    </div>
  </div>
  </div>
</div>
