@media only screen and (min-width:1200px) {
   
.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: -40px;
   
}



.card {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    // margin-top: 50px;
}

.card-header {
    background: #f3820c;
    color: white;
    padding: 5px;
    // margin-top: 50px;
}

.card-header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "lado", serif;
    // font-style: italic;
}

.card-header a i {
    margin-right: 10px;
}

.card-header a.collapsed i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.card-header a:not(.collapsed) i {
    transform: rotate(90deg);
}

.card-body {
    padding: 20px;
    background: white;
    color: #333;
    width: 700px;
    height: 100px;
    font-family: "lado", serif;
    // font-style: italic;
    font-size: 19px;
}

.btn {
    display: flex;
    align-items: center;
}
.acc-title{
    font-weight: bolder;
    text-align: center;
    font-size: 50px; 
    font-family: 'Neue Plak Condensed Regular', sans-serif;
    font-size: 800;
    color: #8253d3;
    
    animation: flashText 1.5s ease-out;
}
}
@media only screen and (min-width:600px) and (max-width:1200px){
.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
   
}

.accordion {
    width: 150px;
    max-width: 500px;
}

.card {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-header {
    background: #f3820c;
    color: white;
    padding: 15px;
}

.card-header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "lado", serif;
    // font-style: italic;
}

.card-header a i {
    margin-right: 10px;
}

.card-header a.collapsed i {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.card-header a:not(.collapsed) i {
    transform: rotate(90deg);
}

.card-body {
    padding: 20px;
    background: white;
    color: #333;
    width: 700px;
    height: 100px;
    font-family: "lado", serif;
    // font-style: italic;
    font-size: 19px;
}

.btn {
    display: flex;
    align-items: center;
}
.acc-title{
    font-weight: bolder;
    text-align: left;
    font-size: 50px; 
    font-family: "Roboto Slab", serif;
    color: #8253d3;
    margin-top: 100px;
    animation: flashText 1.5s ease-out;
}
}

@media only screen and (max-width:600px) {

    .accordion-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
       
    }
    
    .accordion {
        width: 150px;
        max-width: 500px;
    }
    
    .card {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        max-width: 239px;
        background: #f3820c;
        color: white;
        /* padding: 15px; */
      
    }
    
    .card-header {
        background: #f3820c;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .card-header a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: bold;
        font-family: "lado", serif;
    }
    
    .card-header a i {
        margin-right: 10px;
    }
    
    .card-header a.collapsed i {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }
    
    .card-header a:not(.collapsed) i {
        transform: rotate(90deg);
    }
    
    .card-body {
        padding: 20px;
        background: white;
        color: #333;
        /* width: 335px; */
        // height: 77px;
        font-family: "lado", serif;
        font-size: 15px;
    }
    
    .btn {
        display: flex;
        align-items: center;
    }
    .acc-title{
        font-weight: bolder;
        text-align: center;
        font-size: 25px;
        font-family: "Roboto Slab", serif;
        color: #8253d3;
        margin-top: -235px;
        animation: flashText 1.5s ease-out;
    }
    .fl{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}