<div class="total">
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="accordion-container">
        <div id="accordion">
          <p class="acc-title">FAQ</p>
          <div class="fl">
          <div class="card">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#collapseOne"
              >
                <i class="fas fa-chevron-right"></i> What is Show My Product 
              </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion" >
              <div class="card-body">
                Discover our delicious products with just a tap-no waiters, just a seamless digital menu and quick QR-based transactions for easy ordering.
              </div>
            </div>
          </div>
        </div>
      
      
        <div class="fl">
          <div class="card">
            <div class="card-header">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo" 
             >
                <i class="fas fa-chevron-right"></i> How does Sow My Product Work With Whatsapp
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Skip the wait staff and place your order with your phone by scanning our QR codes.
              </div>
            </div>
          </div>
        </div>
        <div class="fl">
          <div class="card">
            <div class="card-header">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree" 
              >
                <i class="fas fa-chevron-right"></i> Can I track my sales and customer interaction
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion" 
           >
              <div class="card-body">
                Utilizing our digital menu and QR system, we are able to diligently record all transactions and contacts with customers.
              </div>
            </div>
          </div>
        </div>
      
          <div class="fl">
          <div class="card">
            <div class="card-header">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour" 
              >
                <i class="fas fa-chevron-right"></i> Is Show My product Available in my Country
              </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                "Show My Product" is available in 108 countries and 10 languages, making it accessible to a wide range of buyers.
              </div>
            </div>
          </div>
        </div>
      
          <div class="fl">
          <div class="card">
            <div class="card-header">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive" 
             >
                <i class="fas fa-chevron-right"></i> Can my store accept credit cards and other payments
              </a>
            </div>
            <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                Absolutely! Your store may accept credit cards and other payment methods using our digital menu and QR system, giving consumers a quick, secure, and hassle-free payment experience.
              </div>
            </div>
          </div>
        </div>
      
        </div>
      </div>
      

    </div>
    <div class="col-6">
      <div class="get-quote">
      <div class="input-head">
        <p>Get started with a free Demo</p>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Phone Number">
      <input type="text" placeholder="Message" class="input-msg">
      </div>
      <div class="input-btn">
        <button type="submit">Submit</button> 
      </div>
    </div>
     
      
   

    </div>
  </div>
</div>

</div>