<!-- <div class="dt-view">
    <div class="wp-main">
<p class="wp-titile">Simplify WhatsApp Ordering</p>
<div class="container">
    <div class="content-box">
       
        <div class="text-section">
            <p class="wp-subtitile"> WhatsApp Order Confirm</p>
            <p class="wp-center" >
                Customers can effortlessly place orders via WhatsApp,
                 customizing their selections and scheduling at their convenience, 
                 eliminating repetitive queries and simplifying the process
            </p>
            
        </div>
     
        <div class="image-section">
            <video src="v.mp4" class="order-video" controls autoplay muted loop></video>
        </div>
        
    </div>
</div>
</div>
</div>

<div class="md-view">
    <div class="wp-main">
        <p class="wp-titile">Simplify WhatsApp Ordering</p>
        
        <div class="container">
            <div class="fl">
            <div class="content-box">
                <div class="text-section">
                    <p class="wp-subtitile">WhatsApp Order Confirm</p>
                    <p class="wp-center">
                        Customers can effortlessly place orders via WhatsApp, customizing their selections and scheduling at their convenience, eliminating repetitive queries and simplifying the process.
                    </p>
                </div>
               
                <div class="image-section">
                    <video src="v.mp4" class="order-video" controls autoplay muted loop></video>
                </div>
            </div>
            </div>
        </div>
    </div>
</div> -->

<div class="wp-main">
<p class="wp-titile">Simplify WhatsApp Ordering</p>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="whymain.png" alt="">
            
        </div>
        <div class="col-6">
           
            <div class="wp-cont1">
                <p class="wp-subtitile">WhatsApp Order Confirm</p>
                <p class="wp-para">
                    Customers can effortlessly place orders via WhatsApp, customizing their selections and scheduling at their convenience, eliminating repetitive queries and simplifying the process.
                </p>
                <div class="wp-button">
                    <a href="#contact" class="contact-button" data-aos="zoom-in">Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

