
<div class="wp-main">
<p class="wp-titile">How It Works</p>

<div class="container wp-container">
    <div class="row">
        <div class="col-lg-6 col-12">
            <img src="whymain.png" alt="mobile" class="wp-img">
        </div>
        <div class="col-lg-6 col-12">
           
            <div class="wp-cont1">
                <p class="wp-subtitile">WhatsApp Order Confirm</p>
                <p class="wp-para">
                    Customers can effortlessly place orders via WhatsApp, customizing their selections and scheduling at their convenience, eliminating repetitive queries and simplifying the process.
                </p>
                <div class="wp-button">
                    <a href="#contact" class="contact-button" data-aos="zoom-in">Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

