
<div class="payment-section">
<p class="pay-head">Local Payment Methods</p>
<p class="pay-sub">Accept QR payments and over 30 local methods, along with credit/debit cards and cash on delivery.</p>
    <div class="payment-icons">
        <img src="soc-1.avif" alt="S">
        <img src="soc-2.avif" alt="PayPal">
        <img src="soc-3.avif" alt="PayNow">
        <img src="soc-4.avif" alt="TouchNGo">
        <img src="soc-5.avif" alt="Yoco">
        <img src="soc-6.avif" alt="Cash">
        <img src="soc-7.png" alt="mPesa">
        <img src="soc-8.avif" alt="Xendit">
        <img src="soc-9.avif" alt="PayFast">
        <img src="soc-10.avif" alt="Gcash">
        <img src="soc-11.avif" alt="R Pay">
        <img src="soc-12.avif" alt="Visa">
        <img src="soc-13.avif" alt="Mastercard">
        <img src="soc-14.avif" alt="Apple Pay">
        <img src="soc-16.avif" alt="Google Pay">
        <img src="soc-17.avif" alt="UPI">
        <img src="soc-18.avif" alt="DuitNow">
        <img src="soc-19.avif" alt="Mercado Pago">
        <img src="soc-20.avif" alt="Other Pay">
        <img src="soc-3.avif" alt="More">
    </div>
</div>