




  @media only screen and (min-width:1200px) {
   
    .rs {
      margin-top: 150px;
    }
   
    .se{
      font-weight: bold;
        text-align: center;
        font-size: 3.5em;
        color: #8253d3;
        font-family: 'Neue Plak Condensed Regular', sans-serif;
        font-weight: 800;
        margin-top: 50px;
    }
    
    
.com-image{
  width:250px;
  height: 500px;
  object-fit: cover;
}
   
.com-image-margin1{
  margin-top:200px;
  margin-left: -300px;
  
}
    
.com-image-margin2{
  margin-top:200px;
  margin-right: -300px;
}
    
      }
      
      @media only screen and (min-width:600px) and (max-width:1200px){

        .rs {
          margin-top: 150px;
        }
       
        .se{
          font-weight: bold;
            text-align: center;
            font-size: 2.5em;
            color: #f3820c;
            font-family: "Roboto Slab", serif;
            margin-top: 50px;
        }
        
        
    .com-image{
      width:150px;
      height: 300px;
      object-fit: cover;
    }
       
    .com-image-margin{
      margin-top:200px;
    }
        
        
    
    }
      
      @media only screen and (max-width:600px) {
     
        .rs {
          margin-top: 100px;
        }
       
        .se{
          font-weight: bold;
            text-align: center;
            font-size: 1.5em;
            color: #f3820c;
            font-family: "Roboto Slab", serif;
            margin-top: 50px;
        }
        
        
    .com-image{
      width:100px;
      height: 200px;
      object-fit: cover;
    }
       
    .com-image-margin{
      margin-top:100px;
    }
        
          
      }
      
      
      
