
body {
        
      
        background: linear-gradient(
            135deg,
            #fffcf7 0%,    
            #f5f5f5 50%,                    
            #fffcf7 100%     
        );
        overflow-x: hidden;

    
    }

   
    
   
    
    @font-face {
        font-family: 'BrushScript';
        src: url('../public/fonts/neue-plak/brush-script/BrushScriptOpti-Regular.otf') format('opentype'),
             
      
    }
    
    
    