<div class="tota">
<div class="container heal" >
    <div class="row">
        <div class="col-md-6">
            <p class="titlem" > OUR <span class="sap"> PRODUCTS</span> ELEGANCE!</p>  
            <p class="subtitle">Simplify ordering, improve customer service, and boost sales with simplicity. Experience smooth transactions and fun shopping.</p>
            
            <a href="#contact" class="contact-button" data-aos="zoom-in">Demo</a>
        </div>

        <div class="col-md-6">
            <div class="bgimage">
                <div class="d-flex align-items-center justify-content-center">
                    <img class="bgimages" src="Free.png" alt="Background Image"  data-aos="zoom-in-up">
                </div>
                
                <div class="div3">
                 
                </div>
               
            </div>
        </div>
    </div>
</div>
</div>