<div class="section3">
    <div class="container">
      <p class="acts" data-aos="zoom-in"> How It Works</p>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="box-center">
                    <div class="box1" data-aos="flip-right">
                        <p class="title">Step 1</p>
                        <img src="qr-code-gif.gif" class="img1">
                        <p>Customers simply scan a QR code to instantly unlock your beautifully designed product catalog.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box-center">
                    <div class="box2" data-aos="flip-right">
                        <p class="title">Step 2</p>
                        <img src="order.gif" class="img1">
                        <p>The digital product menu loads instantly on their phone, offering a smooth and interactive experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box-center">
                    <div class="box3" data-aos="flip-right">
                        <p class="title">Step 3</p>
                        <img src="place.gif" class="img1">
                        <p>Customers dive into a seamless, effortless shopping journey—easily browsing, selecting, and placing orders with just a few taps.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box-center">
                    <div class="box4" data-aos="flip-left">
                        <p class="title">Step 4</p>
                        <img src="wppp.gif" class="img1">
                        <p>Once the order is placed, customers receive real-time updates on their purchase status, ensuring a transparent and satisfying shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  
  
